
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat" , sans-serif;
}

a {
  color: #000;
}

body { 
  
  margin: 10rem auto 0 auto  ;   
  overflow-x: none;
  background-image: url("../src/assets/images/bgicones.webp") ;
  background-repeat: repeat;
  background-size: 25%;  
}




